* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;    
}

body {
    background-color: #006c72;
    padding: 20px
}

h1 {
    text-align: center;
}

section.container {
    margin:auto;
    width: 500px;
    height: 350px;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.468);
    border-radius: 10px;
}

div {
    padding: 10px;
}

div#timer {
    font-size: 4em;
}

button {
    padding: 5px;
    width: 80px;
}

